*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}

.container{
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url("priscilla-du-preez-XkKCui44iM0-unsplash.jpg");
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  }  

  .para {
    margin-left: 540px;
    /* margin-top: 30px; */
    padding: 60px;
    text-align: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
   
  }

  .list ul li{
    list-style: none;
    padding: 30px;
   font-weight: 900;
   font-family: 'Poppins', sans-serif;
   
  }